<section class="menu about mt-5" id="menu">


    <div class="container">
        <!-- Menu Selection Button -->
        <div class="row menu-toggle">
            <a href="#menu-bfast" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Rice
                Meals</a>
            <a href="#menu-pasta" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Pasta</a>
            <a href="#menu-drinks" class="btn btn-outline-primary btn-sm " role="button" aria-pressed="true">Smoothies</a>
        </div>

        <!-- Rice -->
        <div class="menu-list">
            <h2>Rice Meals</h2>
        </div>
        <div id="menu-bfast" class="row about-card">
            <div class="wrapper ">
                <div class="col-md-3 card-deck ">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/img-menu-rice6.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Rice Meal Dos</h5>
                            <p class="card-text ">Homemade delisyoso traditional rice meal</p>
                            <p class="card-text-price ">P200</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-deck ">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/img-menu-rice7.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Rice Meal Tres</h5>
                            <p class="card-text ">Homemade delisyoso traditional rice meal</p>
                            <p class="card-text-price ">P250</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-deck ">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/img-menu-rice8.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Rice Meal Quatro</h5>
                            <p class="card-text ">Homemade delisyoso traditional rice meal</p>
                            <p class="card-text-price ">P200</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row about-card ">
            <div class="wrapper ">
                <div class="col-md-3 card-deck ">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/img-menu-rice1.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Rice Meal Singko</h5>
                            <p class="card-text ">Homemade delisyoso traditional rice meal</p>
                            <p class="card-text-price ">P200</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-deck ">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/img-menu-rice2.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Rice Meal Sais</h5>
                            <p class="card-text ">Homemade delisyoso traditional rice meal</p>
                            <p class="card-text-price ">P200</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 card-deck ">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/img-menu-rice3.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Rice Meal Syete</h5>
                            <p class="card-text ">Homemade delisyoso traditional rice meal</p>
                            <p class="card-text-price ">P200</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Pasta -->
    <div id="menu-pasta" class="menu-list">
        <h2>Pasta</h2>

    </div>
    <div class="container">
        <div class="row about-card">
            <div class="wrapper">


                <div class="col-12 col-md-3 card-deck">
                    <div class="card menu-card wow  zoomIn zoom-onhover">
                        <div class="img-cover"></div><img class="img-fluid img-pasta-menu img-menu" src="./assets/images/img-menu-pasta2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Clara Ole Pasta Dos</h5>
                            <p class="card-text">Type of food made from a mixture of flour, eggs, and water that is formed into different shapes and then boiled.</p>
                            <p class="card-text-price">P150</p>


                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 card-deck">
                    <div class="card menu-card wow  zoomIn zoom-onhover">
                        <div class="img-cover"></div>
                        <img class="img-fluid img-pasta-menu img-menu" src="./assets/images/img-menu-pasta3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Clara Ole Pasta Tres</h5>
                            <p class="card-text">Type of food made from a mixture of flour, eggs, and water that is formed into different shapes and then boiled.</p>
                            <p class="card-text-price">P150</p>


                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 card-deck">
                    <div class="card menu-card wow  zoomIn zoom-onhover">
                        <div class="img-cover"></div>
                        <img class="img-fluid img-pasta-menu img-menu" src="./assets/images/img-menu-pasta4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Clara Ole Pasta Quatro</h5>
                            <p class="card-text">Type of food made from a mixture of flour, eggs, and water that is formed into different shapes and then boiled.</p>
                            <p class="card-text-price">P150</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Drinks -->
    <div id="menu-drinks" class="menu-list">
        <h2>Smoothies</h2>
    </div>
    <div class="container">
        <div class="row about-card ">
            <div class="wrapper ">
                <div class="col-12 col-md-3 card-deck">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/img-menu-drinks1.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Smoothies Uno</h5>
                            <p class="card-text ">Thick and creamy beverage made from pureed raw fruit</p>
                            <p class="card-text-price ">P99</p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 card-deck">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/img-menu-drinks3.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Smoothies Uno</h5>
                            <p class="card-text ">Thick and creamy beverage made from pureed raw fruit</p>
                            <p class="card-text-price ">P99</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 card-deck">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/blog7.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Smoothies Uno</h5>
                            <p class="card-text ">Thick and creamy beverage made from pureed raw fruit</p>
                            <p class="card-text-price ">P99</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 card-deck">
                    <div class="card menu-card wow zoomIn zoom-onhover ">
                        <div class="img-cover "></div>
                        <img class="img-pasta-menu img-menu " src="./assets/images/img-menu-drinks4.jpg " alt="Card image cap ">
                        <div class="card-body ">
                            <h5 class="card-title ">Smoothies Uno</h5>
                            <p class="card-text ">Thick and creamy beverage made from pureed raw fruit</p>
                            <p class="card-text-price ">P99</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>