[class$="content"] {
    padding: 10px;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
}

div.jumbotron-about-us {
    height: 550px;
    padding-top: 20px;
}

.wrapper {
    @include centerContainer(rgb(255, 255, 255), 100vh);
}

.img-services-content {
    height: 100px;
    width: 150px;
}

.section-about-us {
    h3 {
        text-align: center;
        padding-bottom: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

section#about-us {
    h3.services-title {
        text-align: center;
    }
    .jumbotron {
        >.about-content {
            padding: 20px;
            text-align: center;
        }
    }
    .jumbotron {
        >img {
            height: 200px;
            width: 100%;
        }
    }
}

.btn-services {
    display: block;
    width: 130px;
}