iframe.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}

// #section-contact-us {
//     background-image: url(../images/love-1951386_1280.jpg);
//     background-size: cover;
// }
// .contact-details {
//     background-image: url(../images/menu-background-1.jpg)
// }
.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    iframe.map {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 400px;
        margin: 10px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    iframe.map {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 400px;
        margin: 10px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    iframe.map {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 400px;
        margin: 10px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    iframe.map {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 750px;
        height: 400px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}