div.card-blog {
    border: none;
    justify-content: center;
    height: 550px;
    >img {
        height: 250px;
        border-radius: 20px;
        margin-top: 5px;
    }
    div>.card-title {
        font-size: 15px;
        color: $h3Color;
        font-weight: 2;
        text-align: center;
    }
    p.card-text {
        font-size: 13px;
        text-align: left;
    }
    p.card-text-price {
        font-size: 12px;
    }
    a {
        font-size: 13px;
        color: $h3Color;
        float: right;
        margin-top: 5px;
    }
}