footer {
    font-size: .7rem;
    .page-footer-socials {
        margin-top: 20px;
        background-color: #263438;
        color: white;
    }
    .page-footer-copy {
        background-color: #1E282D;
        color: white;
    }
    .btn-socials {
        display: inline-block;
        margin: 8px;
        border-radius: 50%;
        // border: 1px solid white;
        // width: 40px;
        // height: 40px;
        >i {
            font-size: 1.25rem;
            line-height: 35px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: white;
            border: 1px solid #97824B;
        }
    }
    .gotop {
        // border: 2px solid #97824B;
        width: 70px;
        height: 50px;
        font-size: 25px;
        //float: right;
    }
    >a>i {
        font-size: 2.5rem;
        line-height: 50px;
        padding: 5px;
    }
    h6.mt-5 {
        font-size: 12px;
    }
}

.icon-box {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #101010;
}

.services-icon {
    position: absolute;
    top: 17%;
    left: 28%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    line-height: 1;
    color: #05C46B;
    font-size: 30px;
}

.discount {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: auto;
    margin-right: auto;
}