    .carousel-featured-menu {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 250px;
        border-radius: 20px;
    }
    
    img.carousel-featured-menu {
        width: 50px;
        margin-top: 50px;
        border-radius: 20px;
    }
    
    #about-us {
        background-image: url(./assets/images/strawberries-1339969_640.jpg);
    }
    
    .img-story {
        @include centerContainer(white, 250px);
        width: 250px;
    }
    
    h2 {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 30px
    }
    
    .btn-menu-link {
        @include centerContainer($bgColor, 100px);
    }
    
    .navbar-light .menu-link .nav-link {
        color: white;
        font-weight: 5;
    }
    
    .img-featured-menu {
        @include centerContainer($bgColor, 100px);
    }
    
    // Menu list button
    .btn-home-menu-link {
        position: relative;
        left: 50%;
        margin-top: 20px;
    }
    
    .section-landing {
        margin-top: -116px;
    }
    
    .header-content-wrapper {
        display: block;
        top: 200px;
        left: 10%;
        right: 10%;
        position: absolute;
    }