.list-menu {
    height: 100px;
    width: 100%;
}

.img-lovely {
    height: 50px;
    width: auto;
}

.img-about {
    height: 250px;
    width: auto;
    border-radius: 10px;
}

.img-events {
    height: 50px;
    width: 50px;
}

section#section-landing {
    text-align: center;
    background: url(./../images/img-1920-banner.jpg);
    background-size: cover;
    height: 100vh;
}