    // #carousel-landing-page {
    //     > {
    //         [class*="carouselcontent"] {
    //             font-size: .05rem;
    //         }
    //     }
    // }
    .img-story {
        @include centerContainer(white, 250px);
        width: 250px;
    }
    
    a.btn {
        //margin: 5px;
        margin: 5px;
        width: 110px;
        padding: 5px 12px;
        text-align: center;
    }
    
    // .btn-position {
    //     // position: absolute;
    //     /* bottom: 80px; */
    //     // left: 500px;
    //     // display: inherit;
    //     // margin: auto;
    //     // margin-right: auto;
    //     // margin-left: auto;
    // }
    nav.navbar {
        opacity: 85%;
        z-index: 9999999;
        >div {
            div.navbar-collapse {
                a:hover {
                    background-color: #05C46B;
                }
                position: relative;
                text-align: center;
                //background-color: #05C46B;
                //background-image: url(./assets/images/bg-menu.jpg);
                background-repeat: no repeat;
                font-weight: bolder;
                font-size: 0.8rem;
                line-height: 1;
                color: white;
                padding-left: 20px;
                font-family: 'Sigmar One',
                cursive !important;
                li {
                    //background-color: #05C46B;
                    // background-image: url(./assets/images/bg-menu.jpg);
                    // background-repeat: no repeat;
                    text-align: center;
                    text-transform: uppercase;
                    color: #05C46B;
                    margin: 0 0 10px 10px;
                    font-family: 'Sigmar One', cursive !important;
                    // font-weight: 3;
                }
            }
            button.navbar-toggler {
                color: #05C46B;
                border-color: #05C46B;
                border: 2px solid;
            }
            .img-logo {
                height: 60px;
                width: 100px;
                //filter: grayscale(1)/* Logo Color */
            }
        }
    }
    
    .header-content-wrapper {
        display: block;
        top: 200px;
        left: 10%;
        right: 10%;
        position: absolute;
    }
    
    div.menu-card {
        @include centerContainer(white, 100vh);
        border: none;
        justify-content: center;
        transition: all .5s ease-in-out;
        //position: relative;
        &:hover {
            -ms-transform: scale(1.05);
            /* IE 9 */
            -webkit-transform: scale(1.05);
            /* Safari 3-8 */
            transform: scale(1.05);
            cursor: pointer;
        }
        >img {
            border-radius: 20px;
            margin-top: 5px;
            width: 220px;
        }
        div>.card-title {
            font-size: 15px;
            color: $h3Color;
            font-weight: 2;
            text-align: center;
        }
    }
    
    .carousel-inner {
        .change-img-carousel {
            height: 100vh;
        }
        [class*="landing"] {
            // position: absolute;
            // left: 50%;
            // top: 50%;
            // transform: translate(-50%, -50%);
            margin-top: 10%;
            h1 {
                font-size: 1.5rem;
                font-family: fantasy;
            }
            >p {
                font-size: 1rem;
                font-family: inherit;
            }
        }
    }
    
    // #section-contact-us {
    //     background-image: url(../images/love-1951386_1280.jpg);
    //     background-size: cover;
    // }
    // // #about-us {
    // //     background-image: url(../images/img-services2.jpg);
    // // }
    #about-us {
        background-image: url(../images/chef.jpg);
        background-size: cover;
    }
    
    // Extra small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        //     .btn-position {
        //         top: 159px;
        //         right: 100px;
        //         width: max-content;
        //     }
        // }
    }
    
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .carousel-inner {
            .change-img-carousel {
                height: 100vh;
            }
            [class*="landing"] {
                // position: absolute;
                // left: 50%;
                // top: 50%;
                // transform: translate(-50%, -50%);
                margin-top: 10%;
                h1 {
                    font-size: 3.5rem;
                    font-family: fantasy;
                }
                >p {
                    font-size: 1.5rem;
                    font-family: inherit;
                    text-align: left;
                }
            }
        }
    }
    
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .carousel-inner {
            .change-img-carousel {
                height: 100vh!important;
            }
            [class*="landing"] {
                // position: absolute;
                // left: 50%;
                // top: 50%;
                // transform: translate(-50%, -50%);
                margin-top: 10%;
                h1 {
                    font-size: 3.5rem;
                    font-family: fantasy;
                }
                >p {
                    font-size: 2rem;
                    font-family: inherit;
                }
            }
        }
        // .btn-position {
        //     top: 200px;
        //     right: 66px;
        //     width: max-content;
        // }
    }
    
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        // .btn-position {
        //     position: absolute;
        //     bottom: -2px;
        //     //     top: 200px;
        //     //     right: 120px;
        //     //     width: max-content;
        // }
    }