// #carousel-landing-page {
//     > {
//         [class*="carouselcontent"] {
//             font-size: .05rem;
//         }
//     }
// }
.img-story {
    @include centerContainer(white, 250px);
    width: 250px;
}

a.btn {
   margin: 5px;
    padding: 5px 12px;
 }
    
nav.navbar {
    opacity: 60%;
    z-index: 9999999;
    >div {
        div.navbar-collapse {
            position: relative;
            text-align: center;
            // background-color: pink;
            //background-image: url(./assets/images/bg-menu.jpg);
            background-repeat: no repeat;
            font-weight: bolder;
            font-size: 0.8rem;
            line-height: 1;
            color: black;
            padding-left: 20px;
            li {
                // background-color: lightgray;
                background-image: url(./assets/images/bg-menu.jpg);
                background-repeat: no repeat;
                text-align: center;
                text-transform: uppercase;
                color: black;
                margin: 0 0 10px 10px;
                // font-weight: 3;
            }
        }
    }
}

.header-content-wrapper {
    display: block;
    top: 200px;
    left: 10%;
    right: 10%;
    position: absolute;
}

div.menu-card {
    @include centerContainer(white, 100vh);
    border: none;
    justify-content: center;
    transition: all .5s ease-in-out;
    //position: relative;
    &:hover {
        -ms-transform: scale(1.05);
        /* IE 9 */
        -webkit-transform: scale(1.05);
        /* Safari 3-8 */
        transform: scale(1.05);
        cursor: pointer;
    }
    >img {
        border-radius: 20px;
        margin-top: 5px;
    }
    div>.card-title {
        font-size: 15px;
        color: $h3Color;
        font-weight: 2;
        text-align: center;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
   
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }
    [class*="landing"] {
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        margin-top: 15%;
        >p {
            font-size: 2.5rem;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}