section.section-menu-list {
    .menu-description {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .menu-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        a.btn {
            margin: 5px;
            width: 100px;
            padding: 5px 12px;
            &:hover {
                background-color: $bgColor;
            }
        }
    }
    .zoom {
        // padding: 20px;
        // background-color: rgba(255, 255, 255, 0.5);
        transition: transform .2s;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 30px;
        justify-content: center;
        padding: 10px;
        &:hover {
            -ms-transform: scale(1.3);
            /* IE 9 */
            -webkit-transform: scale(1.3);
            /* Safari 3-8 */
            transform: scale(1.3);
            cursor: pointer;
        }
    }
    .card-title {
        font-size: 15px;
        color: #094923;
        font-weight: 2;
        text-align: center;
    }
    .menu-list {
        h2 {
            text-align: center;
            padding: 10px;
        }
    }
    p.card-text {
        font-size: 13px;
        text-align: left;
    }
    p.card-text-price {
        font-size: 12px;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    img.zoom {
        width: 180px!important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    img.zoom {
        width: 200px!important;
        height: 150px!important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}