@mixin centerContainer($background, $height) {
    //height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // para hindi fix ung direction;
    //flex-direction: $direction;
    // background-color: $background;
}

@mixin styleDivider {
    width: 90px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin: 0 1%;
    border: 0;
    padding: 0;
    background-color: #97824b;
}

@mixin styleh3 {
    text-align: center;
    font-weight: 2;
    text-transform: uppercase;
    padding: 30px;
}

@mixin styleContent {
    text-align: center;
    font-weight: 2;
    text-transform: uppercase;
    padding: 30px;
}

@mixin styleImage {
    width: 100%;
    height: auto;
}

@mixin stylestyleContent {
    text-align: center;
    font-weight: 2;
    text-transform: uppercase;
    padding: 30px;
}