nav.navbar {
    opacity: 60%;
    z-index: 9999999;
    >div {
        div.navbar-collapse {
            position: relative;
            text-align: center;
            // background-color: pink;
            //background-image: url(./assets/images/bg-menu.jpg);
            background-repeat: no repeat;
            font-weight: bolder;
            font-size: 1.3rem;
            line-height: 1;
            color: black;
            padding-left: 20px;
            li {
                // background-color: lightgray;
                background-image: url(./assets/images/bg-menu.jpg);
                background-repeat: no repeat;
                text-align: center;
                text-transform: uppercase;
                color: black;
                margin: 0 0 10px 10px;
                // font-weight: 3;
            }
        }
    }
}