$bgColor: #97824B;
$h3: #015339;
$banner: white;
$h3Color: #094923;
$font-family1: 'Poppins' sans-serif;
$font-family4: 'Dancing Script',
cursive;
$font-family3: 'Pacifico',
cursive;
$font-family2: 'Acme',
sans-serif;
$button: #05C46B;