@import './images';
@import './variables';
@import './mixins';
@import './index';
@import './about';
@import './menu';
@import './events';
@import './footer';
@import './contact';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    font-family: $font-family3;
    padding: 30px
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

div .logo {
    a>img {
        width: 100px;
        height: 50px;
    }
}

.content-divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    @include styleDivider();
}

.clearfix {
    display: inline;
}

.section-landing {
    position: relative;
    margin-top: -65px;
    /*height of navbar*/
}

// h1.banner-title {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     color: $banner;
// }
.btn {
    background-color: $button;
    border-color: $button;
    color: white;
    border-radius: 50px;
    //line-height: 0.8;
    //center button
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    width: 110px;
    padding: 5px 12px;
    text-align: center;
}

section#section-banner {
    text-align: center;
    background: url(./../images/img-1920-banner.jpg);
    background-size: cover;
    height: 60vh;
    h1.banner-title {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: 'Poppins', sans-serif;
    }
}