.list-menu {
  height: 100px;
  width: 100%;
}

.img-lovely {
  height: 50px;
  width: auto;
}

.img-about {
  height: 250px;
  width: auto;
  border-radius: 10px;
}

.img-events {
  height: 50px;
  width: 50px;
}

section#section-landing {
  text-align: center;
  background: url(./../images/img-1920-banner.jpg);
  background-size: cover;
  height: 100vh;
}

.img-story {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

a.btn {
  margin: 5px;
  width: 110px;
  padding: 5px 12px;
  text-align: center;
}

nav.navbar {
  opacity: 85%;
  z-index: 9999999;
}
nav.navbar > div div.navbar-collapse {
  position: relative;
  text-align: center;
  background-repeat: no repeat;
  font-weight: bolder;
  font-size: 0.8rem;
  line-height: 1;
  color: white;
  padding-left: 20px;
  font-family: "Sigmar One", cursive !important;
}
nav.navbar > div div.navbar-collapse a:hover {
  background-color: #05C46B;
}
nav.navbar > div div.navbar-collapse li {
  text-align: center;
  text-transform: uppercase;
  color: #05C46B;
  margin: 0 0 10px 10px;
  font-family: "Sigmar One", cursive !important;
}
nav.navbar > div button.navbar-toggler {
  color: #05C46B;
  border-color: #05C46B;
  border: 2px solid;
}
nav.navbar > div .img-logo {
  height: 60px;
  width: 100px;
}

.header-content-wrapper {
  display: block;
  top: 200px;
  left: 10%;
  right: 10%;
  position: absolute;
}

div.menu-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
div.menu-card:hover {
  -ms-transform: scale(1.05);
  /* IE 9 */
  -webkit-transform: scale(1.05);
  /* Safari 3-8 */
  transform: scale(1.05);
  cursor: pointer;
}
div.menu-card > img {
  border-radius: 20px;
  margin-top: 5px;
  width: 220px;
}
div.menu-card div > .card-title {
  font-size: 15px;
  color: #094923;
  font-weight: 2;
  text-align: center;
}

.carousel-inner .change-img-carousel {
  height: 100vh;
}
.carousel-inner [class*=landing] {
  margin-top: 10%;
}
.carousel-inner [class*=landing] h1 {
  font-size: 1.5rem;
  font-family: fantasy;
}
.carousel-inner [class*=landing] > p {
  font-size: 1rem;
  font-family: inherit;
}

#about-us {
  background-image: url(../images/chef.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .carousel-inner .change-img-carousel {
    height: 100vh;
  }
  .carousel-inner [class*=landing] {
    margin-top: 10%;
  }
  .carousel-inner [class*=landing] h1 {
    font-size: 3.5rem;
    font-family: fantasy;
  }
  .carousel-inner [class*=landing] > p {
    font-size: 1.5rem;
    font-family: inherit;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .carousel-inner .change-img-carousel {
    height: 100vh !important;
  }
  .carousel-inner [class*=landing] {
    margin-top: 10%;
  }
  .carousel-inner [class*=landing] h1 {
    font-size: 3.5rem;
    font-family: fantasy;
  }
  .carousel-inner [class*=landing] > p {
    font-size: 2rem;
    font-family: inherit;
  }
}
[class$=content] {
  padding: 10px;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
}

div.jumbotron-about-us {
  height: 550px;
  padding-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-services-content {
  height: 100px;
  width: 150px;
}

.section-about-us h3 {
  text-align: center;
  padding-bottom: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

section#about-us h3.services-title {
  text-align: center;
}
section#about-us .jumbotron > .about-content {
  padding: 20px;
  text-align: center;
}
section#about-us .jumbotron > img {
  height: 200px;
  width: 100%;
}

.btn-services {
  display: block;
  width: 130px;
}

section.section-menu-list .menu-description {
  text-align: center;
  justify-content: center;
  align-items: center;
}
section.section-menu-list .menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
section.section-menu-list .menu-toggle a.btn {
  margin: 5px;
  width: 100px;
  padding: 5px 12px;
}
section.section-menu-list .menu-toggle a.btn:hover {
  background-color: #97824B;
}
section.section-menu-list .zoom {
  transition: transform 0.2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 30px;
  justify-content: center;
  padding: 10px;
}
section.section-menu-list .zoom:hover {
  -ms-transform: scale(1.3);
  /* IE 9 */
  -webkit-transform: scale(1.3);
  /* Safari 3-8 */
  transform: scale(1.3);
  cursor: pointer;
}
section.section-menu-list .card-title {
  font-size: 15px;
  color: #094923;
  font-weight: 2;
  text-align: center;
}
section.section-menu-list .menu-list h2 {
  text-align: center;
  padding: 10px;
}
section.section-menu-list p.card-text {
  font-size: 13px;
  text-align: left;
}
section.section-menu-list p.card-text-price {
  font-size: 12px;
}

@media (min-width: 576px) {
  img.zoom {
    width: 180px !important;
  }
}
@media (min-width: 992px) {
  img.zoom {
    width: 200px !important;
    height: 150px !important;
  }
}
div.card-blog {
  border: none;
  justify-content: center;
  height: 550px;
}
div.card-blog > img {
  height: 250px;
  border-radius: 20px;
  margin-top: 5px;
}
div.card-blog div > .card-title {
  font-size: 15px;
  color: #094923;
  font-weight: 2;
  text-align: center;
}
div.card-blog p.card-text {
  font-size: 13px;
  text-align: left;
}
div.card-blog p.card-text-price {
  font-size: 12px;
}
div.card-blog a {
  font-size: 13px;
  color: #094923;
  float: right;
  margin-top: 5px;
}

footer {
  font-size: 0.7rem;
}
footer .page-footer-socials {
  margin-top: 20px;
  background-color: #263438;
  color: white;
}
footer .page-footer-copy {
  background-color: #1E282D;
  color: white;
}
footer .btn-socials {
  display: inline-block;
  margin: 8px;
  border-radius: 50%;
}
footer .btn-socials > i {
  font-size: 1.25rem;
  line-height: 35px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  border: 1px solid #97824B;
}
footer .gotop {
  width: 70px;
  height: 50px;
  font-size: 25px;
}
footer > a > i {
  font-size: 2.5rem;
  line-height: 50px;
  padding: 5px;
}
footer h6.mt-5 {
  font-size: 12px;
}

.icon-box {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #101010;
}

.services-icon {
  position: absolute;
  top: 17%;
  left: 28%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  line-height: 1;
  color: #05C46B;
  font-size: 30px;
}

.discount {
  margin-left: auto;
  margin-right: auto;
}

iframe.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  iframe.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 400px;
    margin: 10px;
  }
}
@media (min-width: 768px) {
  iframe.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 400px;
    margin: 10px;
  }
}
@media (min-width: 992px) {
  iframe.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 400px;
    margin: 10px;
  }
}
@media (min-width: 1200px) {
  iframe.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 400px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
  padding: 30px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

div .logo a > img {
  width: 100px;
  height: 50px;
}

.content-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 90px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  margin: 0 1%;
  border: 0;
  padding: 0;
  background-color: #97824b;
}

.clearfix {
  display: inline;
}

.section-landing {
  position: relative;
  margin-top: -65px;
  /*height of navbar*/
}

.btn {
  background-color: #05C46B;
  border-color: #05C46B;
  color: white;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin: 5px;
  width: 110px;
  padding: 5px 12px;
  text-align: center;
}

section#section-banner {
  text-align: center;
  background: url(./../images/img-1920-banner.jpg);
  background-size: cover;
  height: 60vh;
}
section#section-banner h1.banner-title {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=style.css.map */
